GOOGLE_CLOUD_PROJECT=wfad-506515
GOOGLE_CLOUD_LOCATION=us-central1
GOOGLE_GENAI_USE_VERTEXAI=TRUE
GOOGLE_GENAI_USE_ENTERPRISE=TRUE
# GOOGLE_API_KEY=
FIRESTORE_COLLECTION=wfad_runs
FIRESTORE_DATABASE=wfad
WFAD_RECIPIENTS=you@example.com
